*
{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.container
{
    position: relative;
    width: 100%;
}

/* Sticky-Nav CSS */

.sticky-nav
{
    position: sticky;
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-rows: 30% 70%;
    border: 1px solid green;
    z-index: 2;
}
.top-bar
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    align-items: center;
    width: 100%;
    background: white;
}
.top-bar button
{
    width: 100px;
    height: 25px;
    background: transparent;
    border: 2px solid #0AA4D5;
    border-radius: 5px;
    cursor: pointer;
    color: #0AA4D5;
}
.top-bar>span:nth-child(3)
{ 
    color: #0AA4D5;
    text-shadow: 0px 4px 3px rgba(0,0,255,0.4), 0px 8px 13px rgba(0,0,255,0.1), 0px 18px 23px rgba(0,0,255,0.1);
}
.top-bar>span>a
{
    text-decoration: none;
}
/* Top-Nav  */

/* Main-Navbar css */

.main-navbar
{
    width: 100%;
    background: #0AA4D5;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-columns: 30% 70%;
}
.main-navbar>a>img
{
    width: 20%;
}
.menu
{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    border-radius: 30px;
    padding: 5px 0;

}
.main-navbar>ul>li
{
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    /* overflow: hidden; */
}
.main-navbar>ul>li::before
{
    content: "";
    background: white;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 50% 50%;
    transition: 1s;
}
.main-navbar>ul>li:hover::before
{
   height: 100%;
   border-radius: 0 0 0 0;
}
.main-navbar>ul>li:hover a
{
    color: #0AA4D5;
}
.menu>li>a
{
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none;
    position: relative;
}
.menu>li>ul
{
    visibility: hidden;
    width: 150px;
    top: 110%;
    left: -5%;
    border: 3px solid #0AA4D5;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    z-index: 1;
    border-radius: 5px;
    /* transform: translateY(30px); */
}
.main-navbar>ul>li:hover .dropdown
{
    visibility: visible;
}
.dropdown>li
{
    position: relative;
    border-bottom: 1px solid #0AA4D5;
    width: 100%;
}
.dropdown>li>a
{
    font-size: 14px;
    display: block;
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    text-decoration: none;
}
.dropdown>li::before
{
    position: absolute;
    content: '';
    background: #0AA4D5;
    display: block;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}
.dropdown>li:hover::before
{
    width: 100%;
    left: 0;
    top: 0;
    transition: all .8s;
    opacity: 0;
    color: #0AA4D5;
}
.menu>ul>li>ul>li>a:hover
{
    color: #0AA4D5;
    transition: all .5s;
}

/* -------------- */

/* Slider-Holder css*/

.slider-holder
{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90vh;
    opacity: .9;
}

.slider
{
    position: absolute;
    width: 400%;
    height: 100%;
    animation: slider-move 20s ease-in-out infinite forwards;
}
@keyframes slider-move
{
    0%{right: 0;}
    10%{right: 0;}
    25%{right: 0%;}
    35%{right: 100%;}
    45%{right: 100%;}
    50%{right: 100%;}
    60%{right: 200%;}
    70%{right: 200%;}
    75%{right: 200%;}
    85%{right: 300%;}
    95%{right: 300%;}
    100%{right: 300%;}
}
.slider>img
{
    height: 100%;
}
.slider-1
{
    position: absolute;
    top: 0;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height:100%;
    background-image:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('images/coding.jpg');
}
.slider-1 .head1
{
    color: #0AA4D5;
    width: 70%;
    font-size: 3vw;
    text-align: center;
    top: 30%;
    position: absolute;
    animation: head 10s ease-in-out infinite forwards;
    font-weight: 500;
}
@keyframes head
{
    0%{right: 100%;}
    10%{right: 14%;}
    20%{right: 15%;}
    40%{right: 15%;}
    60%{right: 15%;}
    80%{right: 15%;}
    85%{right: 15%;}
    90%{right: 15%;}
    100%{right: 15%;}
}
.slider-1 .head2
{
    color: #0AA4D5;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 20%;
    animation: head2 10s ease-in-out infinite forwards;
    font-weight: 500;
}
@keyframes head2
{
    0%{left: 100%;}
    10%{left: 23%;}
    15%{left: 28%;}
    20%{left: 28%;}
    40%{left: 28%;}
    60%{left: 28%;}
    80%{left: 28%;}
    100%{left: 28%;}
}

.slider-2
{
    position: absolute;
    top: 0;
    right: -25%;
    display: grid;
    grid-template-rows: 10% 70%;
    justify-items: center;
    align-content: space-evenly;
    width: 25%;
    height:100%;
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('images/imac.png');
    background-size: 100% 100%;
    color: white;
}
.slider-2-head
{
     width: 100%;
     height: 100%;
}

.slider-2-inner
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: space-evenly;
}
.slider-2-box
{
    border: 3px solid #0AA4D5;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: slide-box 10s ease-in-out infinite forwards;
    animation-delay: 7s;
    transform: scale(0);
}
.slider-2-box:hover
{
    background: #0AA4D5;
}
@keyframes slide-box
 {
    0%{transform: scale(0);}
    10%{transform: scale(1); opacity: 1;}
    40%{transform: scale(1);opacity: 1;}
    60%{transform: scale(1); opacity: 1;}
    80%{transform: scale(1); opacity: 0;}
    100%{transform: scale(1); opacity: 0;}
} 
.slider-2-box-2
{
    animation-delay: 7.5s;
}
.slider-2-box-3
{
    animation-delay: 8s;
}
.slider-2-box>img
{
    width: 20%;
    height: 20%;
    border: 5px solid #0AA4D5;
    border-radius: 60%;
}
.slider-2-box>p
{
    text-align: center;
}
.slider-2-head>h1
{
    font-weight: 600;
    color: #0AA4D5;
    display: flex;
    justify-content: center;
    transform: scale(0);
    animation: scale-h 10s infinite ease-in-out forwards;
    animation-delay: 7s;
}
@keyframes scale-h
 {
    0%{transform: scale(0);}
    10%{transform: scale(1); opacity: 1;}
    40%{transform: scale(1);opacity: 1;}
    60%{transform: scale(1); opacity: 1;}
    80%{transform: scale(1); opacity: 0;}
    100%{transform: scale(1); opacity: 0;}
} 
.slider-3
{
    position: absolute;
    top: 0;
    right: -50%;
    width: 25%;
    height:100%;
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('images/abstract.jpg');
    background-size: 100% 100%;
    display: grid;
    grid-template-rows: 30% 40%;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    color: white;
    justify-content: center;
}
.slider-3-head, .students-box
{
    width: 100%;
    height: 100%;

}
.slider-3-head
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.slider-3-head>h1
{
    opacity: 0;
    color: #0AA4D5;
    position: absolute;
    font-weight: 500;
}
.slider-3-head>.h1
{
    text-align: center;
    top: -10%;
    left: 30%;
    opacity: 0;
    animation: h1 10s ease-in-out infinite forwards;
    animation-delay: 11s;
}
@keyframes h1
{
    0%{top: -10%;opacity: 0;}
    10%{top: 10%;opacity: 1;}
    20%{top: 10%;opacity: 1;}
    40%{top: 10%;opacity: 1}
    60%{top: 10%;opacity: 1}
    80%{top: 10%;opacity: 1}
    100%{top: 10%;opacity: 1}
}
.slider-3-head>.h2
{
    text-align: center;
    top: -10%;
    left: 32%;
    opacity: 0;
    animation: h2 10s ease-in-out infinite forwards;
    animation-delay: 11s;
}
@keyframes h2
{
    0%{top: -10%;opacity: 0;}
    10%{top: 50%;opacity: 1;}
    20%{top: 50%;opacity: 1;}
    40%{top: 50%;opacity: 1}
    60%{top: 50%;opacity: 1}
    80%{top: 50%;opacity: 1}
    100%{top: 50%;opacity: 1}
}
.students-box
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.students-box>img
{
    opacity: 0;
    width: 10%;
    border-radius: 50%;
    border: 5px solid #0AA4D5;
}
.students-box>.img-1
{
    position: absolute;
    animation: img1 10s infinite ease-in-out forwards;
    animation-delay: 12s;
}
@keyframes img1
{
    0%{left: 100%;opacity: 0;}
    10%{left: 20%;opacity: 1;}
    20%{left: 20%;opacity: 1;}
    40%{left: 20%;opacity: 1}
    60%{left: 20%;opacity: 1}
    80%{left: 20%;opacity: 1}
    81%{left: 20%;opacity: 0}
    100%{left: 20%;opacity: 0}
}
.students-box>.img-2
{
    position: absolute;
    animation: img2 10s infinite ease-in-out forwards;
    animation-delay: 12s;
}
@keyframes img2
{
    0%{left: 100%;opacity: 0;}
    10%{left: 40%;opacity: 1;}
    20%{left: 40%;opacity: 1;}
    40%{left: 40%;opacity: 1}
    60%{left: 40%;opacity: 1}
    80%{left: 40%;opacity: 1}
    81%{left: 40%;opacity: 0}
    100%{left: 40%;opacity: 0}
}
.students-box>.img-3
{
    position: absolute;
    animation: img3 10s infinite ease-in-out forwards;
    animation-delay: 12s;
}
@keyframes img3
{
    0%{left: 100%;opacity: 0;}
    10%{left: 60%;opacity: 1;}
    20%{left: 60%;opacity: 1;}
    40%{left: 60%;opacity: 1}
    60%{left: 60%;opacity: 1}
    80%{left: 60%;opacity: 1}
    81%{left: 60%;opacity: 0}
    100%{left: 60%;opacity: 0}
}
.students-box>.img-4
{
    position: absolute;
    animation: img4 10s infinite ease-in-out forwards;
    animation-delay: 12s;
}
@keyframes img4
{
    0%{left: 100%;opacity: 0;}
    10%{left: 80%;opacity: 1;}
    20%{left: 80%;opacity: 1;}
    40%{left: 80%;opacity: 1}
    60%{left: 80%;opacity: 1}
    80%{left: 80%;opacity: 1}
    81%{left: 80%;opacity: 0}
    100%{left: 80%;opacity: 0}
}
.slider-4
{
    position: absolute;
    top: 0;
    right: -75%;
    width: 25%;
    height:100%;
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('images/business.jpg');
    background-size: 100% 100%;
    overflow: hidden;
}
.slider-4-box
{
    border:5px solid #0AA4D5;
    position: absolute;
    border-radius: 10px;
    width: 80%;
    height: 20%;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.slider-4-box-1
{
    top: 10%;
    animation: slide-4-box 10s infinite ease-in-out forwards;
    animation-delay: 16.5s;
}
@keyframes slide-4-box
{
    0%{right: 100%;opacity: 0;}
    10%{right: 10%;opacity: 1;}
    20%{right: 10%;opacity: 1;}
    40%{right: 10%;opacity: 1}
    60%{right: 10%;opacity: 1}
    80%{right: 10%;opacity: 1}
    81%{right: 10%;opacity: 0}
    100%{right: 10%;opacity: 0}
}
.slider-4-box-2
{
    top: 40%;
    animation: slide-4-box-2 10s infinite ease-in-out forwards;
    animation-delay: 16.5s;
}
@keyframes slide-4-box-2
{
    0%{left: 100%;opacity: 0;}
    10%{left: 10%;opacity: 1;}
    20%{left: 10%;opacity: 1;}
    40%{left: 10%;opacity: 1}
    60%{left: 10%;opacity: 1}
    80%{left: 10%;opacity: 1}
    81%{left: 10%;opacity: 0}
    100%{left: 10%;opacity: 0}
}
.slider-4-box-3
{
    top: 70%;
    animation: slide-4-box-3 10s infinite ease-in-out forwards;
    animation-delay: 16.5s;
}
@keyframes slide-4-box-3
{
    0%{right: 100%;opacity: 0}
    10%{right: 10%;opacity: 1}
    20%{right: 10%;opacity: 1}
    40%{right: 10%;opacity: 1}
    60%{right: 10%;opacity: 1}
    80%{right: 10%;opacity: 1}
    81%{right: 10%;opacity: 0}
    100%{right: 10%;opacity: 0}
}
.slider-4-box-circle
{
    width: 100px;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #0AA4D5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* .div-slide:checked+.dot+.slider-1
{
    opacity: 1;
    right: 0;
    transition-duration: 1s;
}
.div-slide:checked+.dot+.slider-2
{
    opacity: 1;
    right: 0;
    transition-duration: 1s;
}
.div-slide:checked+.dot+.slider-3
{
    opacity: 1;
    right: 0;
    transition-duration: .5s;
}
.div-slide:checked+.dot+.slider-4
{
    opacity: 1;
    right: 0;
    transition-duration: .5s;
}
.div-slide:not(:checked)+.dot+.slider-1
{
    opacity: 0;
}
.div-slide:not(:checked)+.dot+.slider-2
{
    opacity: 0;
}
.div-slide:not(:checked)+.dot+.slider-3
{
    opacity: 0;
}
.div-slide:not(:checked)+.dot+.slider-4
{
    opacity: 0;
} */


/* ------------ */

/* Soft-Eng css */

.soft-eng
{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}
.soft-eng-box
{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.soft-eng-left, .soft-eng-right
{
    width: 100%;
    height: 100%;
}
.soft-eng-left
{
    border: 2px solid #0AA4D5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
}
.soft-eng-left>button
{
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 50px;
    background: none;
    border: 2px solid #0AA4D5;
}
.soft-eng-left>button::before
{
    content: '';
    position: absolute;
    background: #0AA4D5;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
}
.soft-eng-left>button:hover
{
    color: white;
    background: #0AA4D5;
    transition: all 1s;
}
.soft-eng-left>button:hover>a
{
    color: white;
}
.soft-eng-left>button>a
{
    text-decoration: none;
    color: #0AA4D5;
    font-size: 1.5em;
}
.video
{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------- */

/* Coming-Events css */

.coming-events
{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('images/lecture.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 20% 40% 15%;
    grid-template-rows: 60% 10%;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 1px solid;
}
.date
{
    padding: .8rem;
    width: 100%;
    height: 70%;
    border: 10px solid linear-gradient(to bottom,rgba(85,76,185,.9) 0,rgba(236,57,139,.9) 100%);
    border-radius: 50%;
    transform: translateX(-100%);
    background: linear-gradient(to top,rgba(85,76,185,.9) 0,rgba(236,57,139,.9) 100%);
    animation: date 4s infinite ease-in-out forwards;
}
@keyframes date
{
    0%{transform: translateX(-200%);}
    10%{transform: translateX(10%);}
    20%{transform: translateX(0%);}
    40%{transform: translateX(0%);}
    60%{transform: translateX(0%);}
    80%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
.date-inner
{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('images/banner.jpg');
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.date-inner>h1
{
    color:#7C409A ;
    font-size: 7vw;
}
.date-inner>p
{
    font-size: 5vw;
    color: #D83983;
}
.event-details
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    animation: detail 4s infinite ease-in-out forwards;
}
@keyframes detail
{
    0%{transform: translateX(200%);}
    10%{transform: translateX(-5%);}
    20%{transform: translateX(0%);}
    40%{transform: translateX(0%);}
    60%{transform: translateX(0%);}
    80%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
.event-details>h2
{
    color: white;
}
.event-details>h2>span
{
    font-size: 5vw;
    color: #D83983;
}
.event-details>h1
{
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #7C409A;
    font-size: 6vw;
}
.event-details>p
{
    color: white;
}
.time
{
    text-align: center;
    width:100%;
    display: flex;
    flex-direction: column;
}
.time-box
{
    padding: 10px 0;
    width: 100%;
    height: 25%;
    color: white;
}
.time-box>h4
{
    font-size: 2em;
}
.time-box>p
{
    font-size: 1.3em;
}
.register
{
    grid-area: 2/1/3/5;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.register>button
{
    margin-left: 5px;
    width: 200px;
    height: 100%;
    background: none;
    border: 2px solid #0AA4D5;
}
.register>button:hover
{
    color: white;
    background: #0AA4D5;
    transition: all 1s;
}
.register>button>a
{
    color: #0AA4D5;
    text-decoration: none;
    font-size: 1.3em;
}
.register>button:hover>a
{
    color: white;
}

/* ----------- */

/* Schedual css */

.schedual
{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), url('images/time.jpg');
    background-size: cover;
}
.schedual-inner
{
    width: 70%;
    height: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 20% 70%;
    align-content: space-between;
    justify-content: space-around;
}
.schedual-info
{
    grid-area: 1/1/2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.schedual-info>h1
{
    color: #2C528C;
}
.schedual-info>p
{
    text-align: center;
    width: 90%;
}
.schedual-box
{
    border-radius: 10px;
    background: none;
    perspective: 1000px;
}
.schedual-box-inner
{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.schedual-box:hover .schedual-box-inner
{
    transform: rotateY(180deg);
}
.schedual-box-front, .schedual-box-back
{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.schedual-box-front
{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background: linear-gradient(to top,rgba(44,82,110,.9) 0,rgba(10,164,213,.9) 100%);
}
.schedual-box-back
{
    padding: 0 20px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #2C528C;
    color: white;
}
.schedual-box-back>button
{
    padding: 10px 30px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
}
.schedual-box-back>button>a
{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
/* ------- */

/* Guarantee css */

.guarantee
{
    width: 100%;
    height: 80vh;
    display: grid;
    align-items: center;
    justify-items: center;
}
.guarantee-inner
{
    width: 85%;
    height: 70%;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    justify-items: center;
}
.guarantee-inner-left, .guarantee-inner-right
{
    width: 70%;
    height: 100%;
    background:linear-gradient(to top,rgba(44,82,110,.9) 0,rgba(10,164,213,.9) 100%) ;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.guarantee-inner-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: flip 4s infinite linear forwards;

}
@keyframes flip
{
    0%{transform: rotateY(270deg);}
    20%{transform: rotateY(3600deg);}
    60%{transform: rotateY(360deg);}
    100%{transform: rotateY(360deg);}
}

.guarantee-inner-left>h1
{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 500;
}
.guarantee-inner-left>h1:nth-child(1)
{
    color: #2C528C;
}
.guarantee-inner-right
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    transform: rotateY(90deg);
    animation: flip 4s infinite linear forwards;
}
@keyframes flip
{
    0%{transform: rotateY(90deg);}
    20%{transform: rotateY(0deg);}
    60%{transform: rotateY(0deg);}
    100%{transform: rotateY(0deg);}
}
/* ----------- */

/* Timeline css */

.timeline
{
    width: 100%;
    height: 100vh;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 19%);
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    background:linear-gradient(to top,rgba(44,82,110,.9) 0,rgba(10,164,213,.9) 100%) ;
}
.timeline-box, .timeline-box-main
{
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.timeline-box-main
{
    grid-area: 2/2/5/4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    color: white;
}
.timeline-box-main>h1
{
    font-weight: 500;
    font-size: 3vw;
}
.timeline-box-main>h2
{
    font-size: 3vw;
}
.timeline-box-main>h3
{
    font-size: 2vw;
}
.timeline-box:nth-child(2),
.timeline-box:nth-child(5),
.timeline-box:nth-child(12),
.timeline-box:nth-child(15)
{

    visibility: hidden;
}
.timeline-box
{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    align-items: center;
}
.timeline-box-left, .timeline-box-right
{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}
.timeline-box-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeline-box-left>img
{
    width: 100%;
}
.timeline-box-right
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.timeline-box-right>h4:nth-child(1)
{
    font-weight: 500;
    color: white;
}
.timeline-box-right>h4:nth-child(2)
{
    font-weight: 500;
}
/* ------------ */

/* Process css */

.process
{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}
.process-box
{
    border: 2px solid #0AA4D5;
    width:40%;
    height: 80%;
    border-radius: 10px;
    position: relative;
}
.process-box-1
{
    width: 100%;
    height: 100%;
    text-align: center;
    display:grid;
    grid-template-rows: 40% 10% 45%;
    /* grid-gap: 10px; */
    position: absolute;
}
.process-box-2
{
    width: 100%;
    height: 100%;
    text-align: center;
    display:grid;
    grid-template-rows: 50% 10% 35%;
    position: absolute;
}
.process-box-3
{
    width: 100%;
    height: 100%;
    text-align: center;
    display:grid;
    grid-template-rows: 55% 10% 30%;
    position: absolute;
}
.process-box-4
{
    width: 100%;
    height: 100%;
    text-align: center;
    display:grid;
    grid-template-rows: 65% 10% 25%;
    position: absolute;
}
.process-box-5
{
    width: 100%;
    height: 100%;
    text-align: center;
    display:grid;
    grid-template-rows: 65% 10% 25%;
    position: absolute;
}
.process-box-6
{
    width: 100%;
    height: 100%;
    text-align: center;
    display:grid;
    grid-template-rows: 65% 10% 25%;
    position: absolute;
}
.process-box-7
{
    width: 100%;
    height: 100%;
    text-align: center;
    display:grid;
    grid-template-rows: 65% 10% 25%;
    position: absolute;
}
.process-box-8
{
    width: 100%;
    height: 100%;
    text-align: center;
    display:grid;
    grid-template-rows: 65% 10% 25%;
    position: absolute;
}
.process-box-img
{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.process-box-img>img
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.process-box-inner
{
    width: 100%;
    height: 100%;
    padding: 0 20px; 
}

.labels
{
    cursor: pointer;
    color:white;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 50%;
    height: 25%;
    background: #0AA4D5;
    border-radius: 5px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.label-1
{
    left: -55%;
}
.label-2
{
    top: 25%;
    left: -55%;
}
.label-3
{
    top: 50%;
    left: -55%;
}
.label-4
{
    top: 75%;
    left: -55%;
}
.label-5
{
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    right: -55%;
}
.label-6
{
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    top: 25%;
    right: -55%;
}
.label-7
{
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    top: 50%;
    right: -55%;
}
.label-8
{
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    top: 75%;
    right: -55%;
}
.div-switch
{
    display: none;
}
.div-switch:checked+.labels+.process-box-1
{
    opacity: 1;
    transition-duration: 1s;
}
.div-switch:not(:checked)+.labels
{
    color: white;
    background: #2C528C;
}
.div-switch:not(:checked)+.labels:hover
{
    color: #0AA4D5;
    transition: color .2s;
}
.div-switch:not(:checked)+.labels+.process-box-1
{
    opacity: 0;
}
/* ------------ */

/* Testimonials css */

.testimonials
{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-rows: 20% 60% 10%;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background:linear-gradient(to bottom,rgba(44,82,110,.9) 0,rgba(10,164,213,.9) 100%) ;
}
.testimonials>h1
{
    color: white;
    font-size: 3em;
    font-weight: 500;
}
.testimonials-box
{
    position: relative;
    /* overflow: hidden; */
    width: 60%;
    height: 100%;
}
.click
{
    background:#2C528C;
    position: absolute;
    bottom: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
}
.click1
{
    left: 50%;
}
.click2
{
    left:55%;
}
.click3
{
    left:45%;
}
.test-slide
{
    display: none;
}
.testimonials-inner
{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.testimonials-inner>img
{
    border: 5px solid white;
    height: 50%;
    border-radius: 50%;
}
.testimonials-inner>p
{
    width: 80%;
    text-align: center;
}
.testimonials-1
{
    left: -100%;
}
.testimonials-2
{
    position: absolute;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:80%;
}
.testimonials-3
{
    position: absolute;
    top: 0;
    left: -200%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:80%;
}
.test-slide:checked+.click+.testimonials-1
{
    opacity: 1;
    left: 0;
    transition-duration: 1s;
}
.test-slide:checked+.click+.testimonials-2
{
    opacity: 1;
    right: 0;
    transition-duration: 1s;
}
.test-slide:checked+.click+.testimonials-3
{
    opacity: 1;
    left: 0;
    transition-duration: 1s;
}
.test-slide:not(:checked)+.click+.testimonials-1
{
    opacity: 0;
}
.test-slide:not(:checked)+.click+.testimonials-2
{
    opacity: 0;
}
.test-slide:not(:checked)+.click+.testimonials-3
{
    opacity: 0;
}

/* ----------- */

/* Training css */

.training
{
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: 10% 40% 40%;
    align-content: space-around;
    justify-content: space-evenly;
}
.training-head
{

    height: 100%;
    grid-area: 1/1/2/4;
}
.training-head>h1
{
    text-align: center;
    font-size: 3vw;
    color: #0AA4D5;
}
.training-box
{
    padding: 0 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: white;
}
.training-box:hover
{
    background: #0AA4D5;
    transition: .5s;
    color: white;
}
.training-box:hover i
{
    color: white;
}
.training-box:hover h2
{
    color: white;
}
.training-box::before
{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background:#0AA4D5;
    transform: skew(1deg, 1deg);
    z-index: -1;
}
.training-box>i
{
    color: #0AA4D5;
    font-size: 3vw;
}
.training-box>h2{
    color: #0AA4D5;
    font-weight: 500;
}
.training-box>p
{
    text-align: center;
}

/* ---------- */

/* Admission css */

.admission
{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    justify-content: center;
    background:#2C528C;
}
.admission-detail, .admission-box
{
    width: 100%;
    height: 100%;
}
.admission-detail
{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   color: white;
}
.admission-box
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.admission-detail>p
{
    width: 80%;
    text-align: center;
}
.admission-box-1
{
    width: 15%;
    height: 50%;
    background: #0AA4D5;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.admission-box-1>i
{
    color: white;
    font-size: 4vw;
}
.admission-box-1>p
{
    text-align: center;
    font-size: 1.5vw;
    color: white;
}
.admission-box>a
{
    background: #0AA4D5;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 4.5em;
    text-decoration: none;
    color: white;
    font-size: 2em;
    box-shadow: 0 15px 10px -6px black;
}

/* --------- */

/* FAQ css */

.faq
{
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-rows: 20% 75%;
    justify-items: center;
}
.faq-details
{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.faq-details>h2
{
    color: #0AA4D5;
    font-size: 2vw;
    font-weight: 500;
}
.faq-details>p
{
    color:#0AA4D5;
    text-align: center;
    width: 50%;
    line-height: 2;
    font-size: 1.3vw;
    font-weight: 400;
}
.faq-details>p>a
{
    text-decoration: none;
    color:white;
    background: #0AA4D5;
    padding: 0 5px;
    font-size: 1.5vw;
}
.faq-inner
{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly ;
}
.faq-block
{
    padding-top: 10%;
    border-top: 1px solid lightgray;
}
.faq-block>h5
{
    color: #0AA4D5;
    font-size: 1.1vw;
}
.faq-block>p
{
    color: #0AA4D5;
   padding: 5% 0;
   font-size: 1vw;
   width: 95%;
   line-height: 1.7;
}
.faq-block>p>a
{
    color: #00c8af;
    text-decoration: none;
}

/* ------------ */

/* Footer css */

.footer
{
    width: 100%;
    height: 70vh;
    background: #0AA4D5;
    display: grid;
    grid-template-columns: 30% 15% 15% 20%;
    grid-auto-rows: 90%;
    align-content: center;
    justify-content: space-evenly;
}
.footer-box
{
    width: 100%;
    height: 100%;
    color: white;
}
.footer-box-1
{
    
    display: grid;
    grid-template-rows: 10% 30% 40% 10%;
}
.footer-box-1>ul
{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.footer-box-1>ul>li>a>i
{
    font-size: 2em;
    color: white;
}
.footer-box-1>ul>li>a>i:hover
{
    color: #2C528C;
    transition: .5s;
}
.footer-box-2
{
    text-align: center;
    display: grid;
    grid-template-rows: 10% 40%;
}
.footer-box-2>ul>li>a
{
    text-decoration: none;
    color: white;
}
.footer-box-3
{
    text-align: center;
    display: grid;
    grid-template-rows: 10% 40%;
}
.footer-box-3>ul>li>a
{
    text-decoration: none;
    color: white;
}
.footer-box-4
{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-box-4>form>input[type="email"]
{
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    background: #0AA4D5;
}
.footer-box-4>form>input::placeholder
{
    color: white;
}
.footer-box-4>form>input[type="submit"]
{
    background: white;
    color: #0AA4D5;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer-box-4-inner
{
    display: grid;
    grid-template-columns: 15% 85%;
    height: 70%;
}
.footer-box-4-inner-left, .footer-box-4-inner-right
{
    display: grid;
    grid-template-rows: 30% 30% 15% 15%;
}
.footer-box-4-inner-left>i
{
    font-size: 1.5em;
}




